html
{
	font-family: sans-serif;
	ms-text-size-adjust: 100%;
	webkit-text-size-adjust: 100%;
}
body
{
	margin: 0;
}
article,aside,details,figcaption,figure,footer,header,main,menu,nav,section,summary
{
	display: block;
}
audio,canvas,progress,video
{
	display: inline-block;
}
audio:not([controls])
{
	display: none;
	height: 0;
}
progress
{
	vertical-align: baseline;
}
template,[hidden]
{
	display: none;
}
a
{
	background-color: transparent;
	webkit-text-decoration-skip: objects;
}
a:active,a:hover
{
	outline-width: 0;
}
abbr[title]
{
	border-bottom: none;
	text-decoration: underline dotted;
	text-decoration: underline;
}
b,strong
{
	font-weight: bolder;
	font-weight: inherit;
}
dfn
{
	font-style: italic;
}
h1
{
	font-size: 2em;
	margin: .67em 0;
}
mark
{
	background-color: #ff0;
	color: #000;
}
small
{
	font-size: 80%;
}
sub,sup
{
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}
sub
{
	bottom: -.25em;
}
sup
{
	top: -.5em;
}
img
{
	border-style: none;
}
svg:not(:root)
{
	overflow: hidden;
}
code,kbd,pre,samp
{
	font-family: monospace,monospace;
	font-size: 1em;
}
figure
{
	margin: 1em 40px;
}
hr
{
	box-sizing: content-box;
	height: 0;
	overflow: visible;
}
button,input,select,textarea
{
	font: inherit;
	margin: 0;
}
optgroup
{
	font-weight: 700;
}
button,input
{
	overflow: visible;
}
button,select
{
	text-transform: none;
}
button,html [type="button"],[type="reset"],[type="submit"]
{
	webkit-appearance: button;
}
button::-moz-focus-inner,[type="button"]::-moz-focus-inner,[type="reset"]::-moz-focus-inner,[type="submit"]::-moz-focus-inner
{
	border-style: none;
	padding: 0;
}
button:-moz-focusring,[type="button"]:-moz-focusring,[type="reset"]:-moz-focusring,[type="submit"]:-moz-focusring
{
	outline: 1px dotted ButtonText;
}
fieldset
{
	border: 1px solid silver;
	margin: 0 2px;
	padding: .35em .625em .75em;
}
legend
{
	box-sizing: border-box;
	color: inherit;
	display: table;
	max-width: 100%;
	padding: 0;
	white-space: normal;
}
textarea
{
	overflow: auto;
}
[type="checkbox"],[type="radio"]
{
	box-sizing: border-box;
	padding: 0;
}
[type="number"]::-webkit-inner-spin-button,[type="number"]::-webkit-outer-spin-button
{
	height: auto;
}
[type="search"]
{
	outline-offset: -2px;
	webkit-appearance: textfield;
}
[type="search"]::-webkit-search-cancel-button,[type="search"]::-webkit-search-decoration
{
	webkit-appearance: none;
}
::-webkit-input-placeholder
{
	color: inherit;
	opacity: .54;
}
::-webkit-file-upload-button
{
	font: inherit;
	webkit-appearance: button;
}
*
{
	box-sizing: border-box;
}
body,html
{
	height: 100%;
}
body
{
	background: #f7f7f7;
	color: #555;
	font-family: 'Merriweather', serif;
	font-size: 16px;
	line-height: 1.5;
	min-width: 320px;
}
a
{
	color: #555;
	moz-transition: all 150ms ease-in-out;
	ms-transition: all 150ms ease-in-out;
	o-transition: all 150ms ease-in-out;
	outline: none;
	text-decoration: none;
	transition: all 150ms ease-in-out;
	webkit-transition: all 150ms ease-in-out;
}
a:hover
{
	color: #888;
}
h1
{
	font-size: 1.4em;
	margin: 0;
}
h2
{
	font-size: 1.2em;
	margin: 0;
}
h3
{
	font-size: 1em;
	margin: 0;
}
.c-site-wrapper
{
	height: 100%;
	overflow-x: hidden;
	overflow-y: scroll;
	webkit-overflow-scrolling: touch;
	width: 100%;
}
.c-site-viewport
{
	moz-transform: translateX(0);
	ms-transform: translateX(0);
	o-transform: translateX(0);
	transform: translateX(0);
	webkit-transform: translateX(0);
	width: 100%;
}
@media (max-width: 640px)
{
	.c-site-viewport
	{
		moz-transition: 300ms;
		ms-transition: 300ms;
		o-transition: 300ms;
		transition: 300ms;
		webkit-transition: 300ms;
	}
}
@media (max-width: 640px)
{
	[data-menu-visible="1"] .c-site-viewport
	{
		moz-transform: translateX(300px);
		ms-transform: translateX(300px);
		o-transform: translateX(300px);
		transform: translateX(300px);
		webkit-transform: translateX(300px);
	}
}
.c-site-sidebar
{
	height: 100%;
	position: absolute;
	text-align: center;
	top: 0;
	width: 300px;
	z-index: 1;
}
@media (min-width: 641px)
{
	.c-site-sidebar
	{
		left: 0;
	}
}
@media (max-width: 640px)
{
	.c-site-sidebar
	{
		left: -300px;
	}
}
.c-site-content
{
	background: #fff;
	border-left: 1px solid #eaeaea;
	border-right: 1px solid #eaeaea;
	max-width: 1000px;
	min-height: 100vh;
}
@media (max-width: 640px)
{
	.c-site-content
	{
		padding: 20px;
	}
}
@media (min-width: 641px)
{
	.c-site-content
	{
		margin-left: 300px;
		padding: 30px;
	}
}
#docker-icon
{
   background: url("assets/img/docker-icon.ico") no-repeat top left;
   padding: 2px 0 0 25px;
}
.c-mobile-header
{
	border-bottom: 1px solid #eaeaea;
	margin-bottom: 30px;
	padding-bottom: 25px;
}
@media (min-width: 641px)
{
	.c-mobile-header
	{
		display: none;
	}
}
.c-mobile-header__link,.c-mobile-header__logo,.c-mobile-header__logo__image
{
	height: 40px;
	line-height: 40px;
}
.c-mobile-header__link
{
	font-weight: bold;
}
.c-mobile-header__logo
{
	float: right;
}
.c-mobile-header__logo__image
{
	border-radius: 20px;
	height: 40px;
	moz-border-radius: 20px;
	ms-border-radius: 20px;
	o-border-radius: 20px;
	webkit-border-radius: 20px;
	width: 40px;
}
.c-error-message
{
	color: #888;
	line-height: 2;
	text-align: center;
}
.c-sidebar-header
{
	background-position: 50% 50%;
	background-size: cover;
	height: 100px;
	margin-bottom: 65px;
	moz-background-size: cover;
	ms-background-size: cover;
	o-background-size: cover;
	position: relative;
	webkit-background-size: cover;
}
.c-sidebar-header__link,.c-sidebar-header__image
{
	display: block;
	height: 80px;
	width: 80px;
}
.c-sidebar-header__image
{
	border: 2px solid #fff;
	border-radius: 40px;
	moz-border-radius: 40px;
	ms-border-radius: 40px;
	o-border-radius: 40px;
	webkit-border-radius: 40px;
}
.c-sidebar-header__link
{
	bottom: -40px;
	left: 50%;
	margin-left: -40px;
	position: absolute;
	z-index: 1;
}
.c-sidebar-blog-title
{
	font-size: 1.2em;
	margin-bottom: 20px;
	padding: 0 15px;
}
.c-sidebar-blog-description
{
	color: #888;
	font-size: 0.8em;
	font-weight: normal;
	margin-bottom: 20px;
	padding: 0 20px;
}
.c-sidebar-contact-links
{
	border-bottom: 1px solid #eaeaea;
	font-size: 1.2em;
	margin-bottom: 20px;
	padding: 0 15px 20px;
}
.c-sidebar-contact-links__item
{
	font-size: 1.2em;
	padding: 0 5px;
}
.c-sidebar-navigation
{
	border-bottom: 1px solid #eaeaea;
	font-size: 0.9em;
	margin-bottom: 20px;
	padding: 0 15px 20px;
}
.c-sidebar-navigation__item
{
	display: inline-block;
	font-weight: bold;
	padding: 5px;
}
.c-sidebar-promotion-links
{
	border-bottom: 1px solid #eaeaea;
	font-size: 0.8em;
	margin-bottom: 20px;
	padding-bottom: 20px;
}
.c-sidebar-promotion-links__item
{
	display: block;
	padding: 5px 15px;
}
.c-post-list__item
{
	border-bottom: 1px solid #eaeaea;
	margin-bottom: 35px;
	padding-bottom: 20px;
}
@media (min-width: 1200px)
{
	.c-post-list__item
	{
		float: left;
		margin-right: 3%;
		width: 31.33333%;
	}
	.c-post-list__item:nth-child(3n)
	{
		margin-right: 0;
	}
	.c-post-list__item:nth-child(3n+1)
	{
		clear: left;
	}
}
@media (max-width: 1199px) and (min-width: 880px)
{
	.c-post-list__item
	{
		float: left;
		margin-right: 4%;
		width: 48%;
	}
	.c-post-list__item:nth-child(2n)
	{
		margin-right: 0;
	}
	.c-post-list__item:nth-child(2n+1)
	{
		clear: left;
	}
}
.c-post-list__image
{
	display: block;
	margin-bottom: 15px;
}
.c-post-list__image:hover
{
	opacity: 0.8;
}
.c-post-list__image__img
{
	display: block;
	width: 100%;
}
.c-post-list__title
{
	font-size: 1.1em;
	line-height: 1.4;
	margin-bottom: 10px;
}
.c-post-list__meta
{
	color: #888;
	font-size: 0.8em;
	font-style: italic;
}
.c-post-list__meta__tags
{
	text-transform: lowercase;
}
.c-post-view__footer
{
	border-top: 1px solid #eaeaea;
	margin-top: 40px;
	padding: 40px 0 10px;
	text-align: center;
}
.c-post-view--narrow
{
	margin: 0 auto;
	max-width: 610px;
	text-align: center;
}
.c-post-view-meta
{
	color: #888;
	font-size: 0.8em;
	font-style: italic;
	line-height: 2;
}
.c-post-view-meta__tags
{
	text-transform: lowercase;
}
.c-page-title__heading+.c-post-view-meta
{
	margin-top: 20px;
}
.c-post-view-share
{
	font-weight: bold;
}
.c-post-view-share__item--twitter
{
	color: #4099FF;
}
.c-post-view-share__item--facebook
{
	color: #3B5998;
}
.c-post-view-share__item--google
{
	color: #d34836;
}
.c-post-pagination__item--older
{
	float: right;
}
.c-page-title
{
	border-bottom: 1px solid #eaeaea;
	margin-bottom: 40px;
	padding: 10px 0 40px 0;
	text-align: center;
}
.c-page-title__heading__tag
{
	text-transform: lowercase;
}
.c-author-page
{
	border-bottom: 1px solid #eaeaea;
	margin-bottom: 40px;
	padding: 10px 0 40px;
	text-align: center;
}
.c-author-page__image
{
	margin-bottom: 20px;
}
.c-author-page__image__src
{
	border-radius: 50px;
	display: block;
	height: 100px;
	margin: 0 auto;
	moz-border-radius: 50px;
	ms-border-radius: 50px;
	o-border-radius: 50px;
	webkit-border-radius: 50px;
	width: 100px;
}
.c-author-page__bio
{
	color: #888;
	font-size: 0.9em;
	font-weight: normal;
	margin: 20px auto 0;
	max-width: 600px;
}
.c-author-page__meta
{
	color: #888;
	font-size: 0.9em;
	margin-top: 20px;
}
.c-disqus-comments
{
	border-top: 1px solid #eaeaea;
	margin-top: 30px;
	padding-top: 30px;
}
.clear:after,.c-mobile-header:after,.c-post-list:after,.c-post-pagination:after
{
	clear: both;
	content: "";
	display: table;
}
.markdown,.c-post-view__content
{
	line-height: 2;
}
.markdown h1,.c-post-view__content h1,.markdown h2,.c-post-view__content h2,.markdown h3,.c-post-view__content h3,.markdown p,.c-post-view__content p,.markdown ul,.c-post-view__content ul,.markdown blockquote,.c-post-view__content blockquote,.markdown pre,.c-post-view__content pre,.markdown .gist,.c-post-view__content .gist
{
	margin-bottom: 30px;
	word-wrap: break-word;
}
.markdown h1:last-child,.c-post-view__content h1:last-child,.markdown h2:last-child,.c-post-view__content h2:last-child,.markdown h3:last-child,.c-post-view__content h3:last-child,.markdown p:last-child,.c-post-view__content p:last-child,.markdown ul:last-child,.c-post-view__content ul:last-child,.markdown blockquote:last-child,.c-post-view__content blockquote:last-child,.markdown pre:last-child,.c-post-view__content pre:last-child,.markdown .gist:last-child,.c-post-view__content .gist:last-child
{
	margin-bottom: 0;
}
.markdown ul,.c-post-view__content ul
{
	padding-left: 3em;
}
.markdown a,.c-post-view__content a
{
	text-decoration: underline;
}
.markdown a:hover,.c-post-view__content a:hover
{
	text-decoration: none;
}
.markdown a:hover img,.c-post-view__content a:hover img
{
	opacity: 0.8;
}
.markdown img,.c-post-view__content img
{
	moz-transition: all 150ms ease-in-out;
	ms-transition: all 150ms ease-in-out;
	o-transition: all 150ms ease-in-out;
	transition: all 150ms ease-in-out;
	webkit-transition: all 150ms ease-in-out;
	width: 100%;
}
.markdown img.inline,.c-post-view__content img.inline
{
	display: inline-block;
	width: auto;
}
.markdown blockquote,.c-post-view__content blockquote
{
	border-left: 4px solid #eaeaea;
	font-style: italic;
	padding-left: 30px;
}
.markdown hr,.c-post-view__content hr
{
	background: #eaeaea;
	border: 0;
	height: 1px;
	margin: 30px 0;
}
.markdown pre,.c-post-view__content pre
{
	background: #f7f7f7;
	font-size: 0.9em;
	line-height: 1.5;
	overflow: auto;
	padding: 1em;
}
.markdown code,.c-post-view__content code
{
	background: #f7f7f7;
}
.markdown .gist .gist-file,.c-post-view__content .gist .gist-file
{
	margin-bottom: 0;
}